:root {
    /* Variables que almacenarán los valor de la paleta de colores */
    --header: #2b2024;
    --footer: #a80038;
    --amarillo: #FFE600;
    --blanco: #fbf9fa;
}
html{
    box-sizing: border-box;
    background-color: #fbf9fa;
}
*,*:before,*:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--blanco);
    overflow-y: scroll;
    overflow-x: hidden;
}
.contenedor{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
/* Barra */
/* El funcionamiento de la barra: Hay un checkbox escondido
que cuando se le da click en el ícono para desplegar el menu
responsive, este se chequea automaticamente permitiendo que
el menu se sobreposicione */
.header{
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    background: var(--header);
    padding: 0 10px;
    color: var(--blanco);
    /* sombra de la barra */
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transition: .7s;
}
/* Logo y texto "LAUDATO SI" */
.logo{
    line-height: 100px;   
    float: left;
    text-transform: uppercase;
}
.header img{
    margin-top: 20px;
    padding: 10px;
    width: 145px;
    height: 59px;
}
.menu{
    float: right;
    line-height: 100px;
}
.menu a{
    color: var(--blanco);
    font-weight: 700;
    font-size: 1rem;
    /* font-size: 1.5rem; */
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
/* Estilo para los íconos */
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    /* Color al posicionar en el menu e iconos */
    color: var(--gris);
}
/* Id del checkbox que está escondido y sobreposicionado */
#chk{
    position: absolute;
    visibility: hidden;
    /* Para apilar elementos */
     z-index: 2;
}

/* Cuando la pantalla sea de 800px o menor */
@media (max-width:800px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .header{
        font-family: 'Montserrat', sans-serif;
        height: 200px;
        background: var(--header);
        padding: 0 10px;
        color: var(--blanco);
        /* sombra de la barra */
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        transition: .7s;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        /* Color de fondo de menu responsive*/
        background: var(--header);
        /* estará escondido*/
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
        border-bottom:solid 2px var(--gris);
    }
    /* Se mostrará el ícono para cerrar el menu*/
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    /* Cuando el checkbox esté chequiado*/
    /* Se utiliza el selector de ~ para seleccionar todos los elementos
    que se encuentran después del indicado*/
    #chk:checked ~ .menu{
        right: 0;
        /* Para que cuando se abra, se sobreposiciones sobre el slider */
        z-index: 2;
    }
}


/* Sección de Imágenes */
.wrapper{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: 0 auto;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.wrapper img{
    opacity: 1;
    display: block;
    width:100%;
    height: auto;
    transition: .5s ease;
}
.wrapper p{
    padding-top: 10px;
    text-align: justify;
    font-size: 1.1rem;
}
.content{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 3.75rem;
    color:var(--blanco);
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0.3rem;
    background-color: var(--verde);
}
.content a{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
}
.overlay{
    opacity: 0;
}


/* Contenido */
.contenido-principal{
    margin-top: 20px;
}
.contenido-principal p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
    text-align: justify;
    font-size: 1rem;
    padding: 0 20px;
}
/* Media Query para el texto */
@media (max-width:800px){
    .contenido-principal p{
        line-height: 1.5rem;
        text-align: justify;
        font-size: 0.8rem;
        padding: 0 20px;
    }
}

/*Footer*/
.footer-sitio {
    background-color: var(--footer);
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
}
.footer-sitio h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--blanco);
    padding-bottom: 20px;
    font-size: 1.2rem;
}
.footer-sitio a i {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    margin-right: 20px;
}
.footer-sitio a:last-of-type {
    margin-right: 0px;
}
.redes{
    padding-bottom: 10px;
}
.redes a i:hover{
    color: var(--gris);
}
.copyright {
    background-color: var(--header);
    padding: 20px 0;
}
.copyright a{
    color: var(--blanco);
    text-decoration: none;
}
.copyright a:hover{
    color: var(--gris);
}
@media (min-width:768px) {
    .footer-sitio .nosotros {
        float: left;
        width: 50%;
        text-align: left;
    }
    .footer-sitio .redes {
        float: right;
        width: 50%;
        text-align: right;
    }
}

/* Contenedor video */
section.video {

    position: relative;
}
.contenedor-video {
    max-width: 100%;
    overflow-x: hidden;
    z-index: 1;
}

.contenedor-video video{
    filter: blur(1em);
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 1;
}
.contenedor-video1 video{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 1;
}
.contenedor-video1 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 1;
}

.video {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    align-items: center;
    color: #fbf9fa;
}
.video1 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    align-items: center;
    color: #fbf9fa;
    background: #4e4e4e;
}
.video1 img{
    padding: 10px;
}

.video1 h1,p{
    font-size: 2.5em;
    color: #fbf9fa;
    padding: 20px;
}
.container p,h1{
    max-width: 960px;
    padding-left: 1rem;
    padding-right:  1rem;
    margin: auto;
    text-align: center;
    display: block;
}
.mens{
    position: absolute;

    z-index: 3;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.mens h1{
    font-size: 2.5em;
    color: var(--blanco);
}
/*ssssssssssssssssssssssssssssssssssssssssssssssssss*/

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    align-items: center;
    color: #fbf9fa;
}

.grid div{
    margin: 10px;
}
.grid img{
    width: 1fr;
    height: 1fr;
}
.sidebar{
    grid-column: 4/4;
    grid-row: 1/5;
}
.gridMaster{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    align-items: center;
    color: #fbf9fa;
    margin-bottom: 20px;

}
.grid{
    position: absolute;
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 3;
}
.grid img:hover{
    zoom: 100;
}

.ir_arriba{
    cursor: pointer;
}